<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,=">  <!-- 禁止加载facon.ico -->
    <title>Users</title>

    <!-- 软件包导入(jquery放在anguarjs前， bootstrap放在jquery-ui前) -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script> 
    <script src="/node_modules/angular/angular.min.js" type="text/javascript"></script>
    <!-- bootstrap -->   
    <script src="/node_modules/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <link  href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- toastr(notify) -->
    <script src="/node_modules/toastr/build/toastr.min.js" type="text/javascript"></script>
    <link  href="/node_modules/toastr/build/toastr.min.css" rel="stylesheet" /> 
    <!-- font-awesome -->
    <link  href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />  

    <!-- 自定义 -->   
    <script src="/view/js/library.js" type="text/javascript"></script>
    <link  href="/view/css/all.css" rel="stylesheet" />
    <script src="/view/js/user.js" type="text/javascript"></script>
</head>
<body ng-app="userApp"  ng-controller="userCtrl" navActive="Websys">

    <div ng-include="'/view/nav.html'"></div>
    <div id="wrapper" class="container-fluid">
        <div class="row">
            <div class="col-md-4 border border-success rounded my-2 mx-1">
                <div class="row mt-3">
                    <form class="col-md">
                        <div class="form-group row">
                            <div class="col-md">
                                <input type="text" class="form-control" ng-model="username" placeholder="账户" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md">
                                <input type="password" class="form-control" ng-model="password" placeholder="密码" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md text-center">
                                <button type="submit" class="btn btn-block btn-outline-success" ng-click="edit();">创建/修改</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md text-white bg-dark rounded-lg mx-3 pb-3">
                        <div class="row mt-3" ng-repeat="x in userlist" 
                            ng-click="userSelect(x)"
                            style="border-bottom: 1px dashed #cccccc; line-height: 30px;">
                            <div class="col-md-6" style="font-size: 18px; font-weight: bold;">{{x.username}}</div>
                            <div class="col-md-4" style="font-style: italic;">{{x.createdAt|limitTo:10}}</div>
                            <div class="col-md-2">
                                <a href="#" ng-show="usersel==x" data-toggle="modal" data-target="#delUserConfirm" class="mx-2">
                                    <i class="fa fa-trash-o" title="Delete User" style="color: #ffffff;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md border border-secondary rounded position-relative my-2 mr-1">
                <i>用户关联信息， 比如添加的文章，文件等</i>
            </div>
        </div>
    </div>
    <!-- 用户删除确认窗口 -->
    <div class="modal fade" id="delUserConfirm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold font-italic">用户删除确认</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                确认删除当前用户吗？（包括该用户的所有信息）
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger px-4" ng-click="delete();" data-dismiss="modal">删除</button>
                <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">取消</button>                
            </div>
            </div>
        </div>
    </div>
</body>
</html>