<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,=">  <!-- 禁止加载facon.ico -->
    <title>Chip</title>

    <!-- 软件包导入(jquery放在anguarjs前， bootstrap放在jquery-ui前) -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script> 
    <script src="/node_modules/angular/angular.min.js" type="text/javascript"></script>
    <!-- bootstrap -->   
    <script src="/node_modules/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <link  href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- toastr(notify) -->
    <script src="/node_modules/toastr/build/toastr.min.js" type="text/javascript"></script>
    <link  href="/node_modules/toastr/build/toastr.min.css" rel="stylesheet" /> 
    <!-- font-awesome -->
    <link  href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />  
    <!-- editor.md -->
    <link rel="stylesheet" href="/node_modules/editor.md/css/editormd.css" />    
    <script type="text/javascript" src="/node_modules/editor.md/editormd.js"></script>

    <!-- 自定义 -->   
    <script src="/view/js/library.js" type="text/javascript"></script>
    <link  href="/view/css/all.css" rel="stylesheet" />
    <script src="/chip/view/js/index.js" type="text/javascript"></script>
    <link  href="/chip/view/css/function.css" rel="stylesheet" />
</head>
<body ng-app="indexApp">

    <div ng-include="'/view/nav.html'"></div>
    <div id="wrapper" class="container-fluid" ng-controller="indexCtrl">
        <div class="row">
            <div class="col-md border border-success rounded my-2 mx-1">
                <div class="row" style="height: 50px;">
                    <div class="col-md item chipContainer">
                        <a href="#" style="color: #FF8000;" ng-repeat="x in chiplist" ng-click="chipSelect(x);">{{x.name}}</a>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md item moduleContainer" style="height: 70px;">
                        <a href="#" style="color: #0489B1; float: left;" ng-repeat="x in modulelist" ng-click="moduleSelect(x);">{{x.name}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md" style="height: 535px;">
                        <!-- 显示功能 -->
                        <span ng-repeat="x in functionlist" ng-click="functionSelect(x);" funcid='{{x.id}}' title="{{x.content|limitTo:200}}"
                        class="badge badge-secondary mx-1 mt-1 px-2" style="line-height: 20px; font-size: 12px; cursor: pointer;">{{x.content|getTitle|limitTo:20}}</span>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="str" placeholder="搜索寄存器或位组">
                    </div>
                    <div class="col-md-2">
                        <button ng-show="!multiSelect && functionsels.length" type="button" class="btn btn-block btn-outline-success" ng-click="functionEdit();">编辑</button>
                    </div>
                    <div class="col-md-2 text-right">
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" id="multipleCheck" ng-model="multiSelect">
                            <label class="form-check-label" for="multipleCheck">多选</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 border border-secondary rounded my-2 mr-1" style="overflow-x: auto;">
                <div class="reg header" style="width: 50px; position: fixed; opacity: 0.7">
                    <div class="regname">Reg</div>
                    <div ng-repeat="x in bitindex" class="bit" style="height:20px">{{x}}</div>
                </div>
                <div id="map" style="margin-left: 51px;">
                    <div class="reg" ng-repeat="x in registerlist">
                        <div class="regname" title="{{x.fullname}}" ng-mouseenter="registerFocus(x.id);" ng-mouseleave="registerUnfocus();">
                            {{x.name|limitTo:12}}
                        </div>
                        <div ng-repeat="y in x.bitlist2 track by $index" bitsid="{{y.id}}" 
                            class="bit bg{{y.id}} text-center" ng-class="{'bitValid':y.id}" 
                            style="height: {{20 * y.cnt}}px; line-height:{{20 * y.cnt}}px"
                            ng-mouseenter="bitFocus(y.id);" ng-mouseleave="bitUnfocus();">
                            {{y.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="floatInfo"></div>
        <!-- 信息显示页面 -->
        <div id="funcInfo" style="border:0px; z-index: 9; display: none;" ng-click="functionDetailClose();"><textarea style="display:none;"></textarea></div>
    </div>

</body>
</html>
