<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,=">  <!-- 禁止加载facon.ico -->
    <title>chip</title>

    <!-- 软件包导入(jquery放在anguarjs前， bootstrap放在jquery-ui前) -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script> 
    <script src="/node_modules/angular/angular.min.js" type="text/javascript"></script>
    <!-- bootstrap -->   
    <script src="/node_modules/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <link  href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- toastr(notify) -->
    <script src="/node_modules/toastr/build/toastr.min.js" type="text/javascript"></script>
    <link  href="/node_modules/toastr/build/toastr.min.css" rel="stylesheet" /> 
    <!-- font-awesome -->
    <link  href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />  
    
    <!-- 自定义 -->   
    <script src="/view/js/library.js" type="text/javascript"></script>
    <link  href="/view/css/all.css" rel="stylesheet" />
    <script src="/chip/view/js/index.js" type="text/javascript"></script>
    <style>
    .item>div { height: 812px; }
    .item>div>div { line-height: 30px; border-bottom: 1px dashed #cccccc; cursor: pointer; }

    .chipsel { color: #5F9EA0; }
    .modulesel { color: #ff0000; }
    </style>
</head>
<body ng-app="indexApp">

    <div ng-include="'/view/nav.html'"></div>
    <div id="wrapper" class="container-fluid" ng-controller="indexCtrl">
        <div class="row">
            <div class="col-md border border-success rounded my-2 mx-1">
                <div class="row item mt-1">
                    <div class="col-md px-1 bg-light chipContainer">
                        <div class="pl-1" ng-repeat="x in chiplist" ng-click="chipSelect(x);">
                            <b>{{x.name}}</b>
                            <span style="font-size: 12px; color: #888888;">/{{x.width}}</span>
                        </div>
                    </div>
                    <div class="col-md px-1 moduleContainer">
                        <div class="pl-1" ng-repeat="x in modulelist" ng-click="moduleSelect(x);">
                            <b>{{x.name}}</b>
                            <span style="font-size: 12px; color: #888888;">/{{x.fullname|limitTo:6}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 border border-secondary rounded my-2 mr-1">
                <div style="line-height: 25px; margin-top: 5px; border-bottom: 1px dashed #cccccc;">doclist</div>
            </div>
        </div>
    </div>

</body>
</html>