<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,=">  <!-- 禁止加载facon.ico -->
    <title>found</title>

    <!-- 软件包导入(jquery放在anguarjs前， bootstrap放在jquery-ui前) -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script> 
    <script src="/node_modules/angular/angular.min.js" type="text/javascript"></script>
    <!-- bootstrap -->   
    <script src="/node_modules/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <link  href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- toastr(notify) -->
    <script src="/node_modules/toastr/build/toastr.min.js" type="text/javascript"></script>
    <link  href="/node_modules/toastr/build/toastr.min.css" rel="stylesheet" /> 
    <!-- font-awesome -->
    <link  href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />  
    
    <!-- 自定义 -->   
    <script src="/view/js/library.js" type="text/javascript"></script>
    <link  href="/view/css/all.css" rel="stylesheet" />
    <script src="/found/view/js/index.js" type="text/javascript"></script>
    <style>
        .info { font-style: italic; color: #888888; font-size: 12px; line-height: 20px; margin-top: 5px; margin-right: 10px; }
        .info>span { font-style: normal; font-weight: bold; font-size: 14px; margin-left: 5px; color: #000000; }
        .statistic { background-color: #dddddd; border-radius: 3px; padding: 0px 5px; }
    </style>
</head>
<body ng-app="indexApp">

    <div ng-include="'/view/nav.html'"></div>
    <div id="wrapper" class="container-fluid" ng-controller="indexCtrl">
        <div class="row">
            <div class="col-md border border-success rounded my-2 mx-1">
                <h5 class="mt-3">基金公司筛选</h5>
                <div class="form-group row mt-3">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.companyCreate" placeholder="成立时间早于X年，比如2010" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.companyMoney" placeholder="管理规模大于X亿元，比如100.2" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.companyManager" placeholder="经理人数大于X人，比如10" /> 
                    </div>
                </div>

                <h5 class="mt-3">基金信息筛选</h5>
                <div class="form-group row mt-3">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.foundCreate" placeholder="成立时间早于x年，比如2010" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.foundMoney" placeholder="管理规模大于X亿元，比如100.2" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.foundShare" placeholder="份额数量大于X亿份，比如100.2" /> 
                    </div>
                </div>

                <h5 class="mt-3">统计数据（增长率）筛选</h5>
                <div class="form-group row mt-3">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.statisticWeek" placeholder="近一周大于x%，比如1" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.statisticMonth" placeholder="近一月大于x%，比如1" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.statisticQuarter" placeholder="近季度大于x%，比如1" /> 
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.statisitcHalfyear" placeholder="近半年大于x%，比如1" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.statistic1year" placeholder="近一年大于x%，比如1" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.statistic2year" placeholder="近两年大于x%，比如1" /> 
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.statistic3year" placeholder="近三年大于x%，比如1" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.statisticThisyear" placeholder="自今年大于x%，比如1" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.statisticCreate" placeholder="自成立大于x%，比如1" /> 
                    </div>
                </div>

                <h5 class="mt-3">基金净值（日增长率）筛选</h5>
                <div class="form-group row mt-3">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.valueMin" placeholder="小于x%，比如-0.1" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.valueMinGT" placeholder="次数大于x，比如1" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.valueMinLT" placeholder="次数小于x，比如100" /> 
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.valueMax" placeholder="大于x%，比如5.2" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.valueMaxGT" placeholder="次数大于x，比如1" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.valueMaxLT" placeholder="次数小于x，比如100" /> 
                    </div>
                </div>

                <h5 class="mt-3">高级组合筛选</h5>
                <div class="form-group row mt-3">
                    <div class="col-md">
                        暂无
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <input ng-model="filterName" type="text" class="form-control" placeholder="筛选条件存储名称">             
                    </div>
                    <div class="col-md">
                        <button type="button" class="btn btn-outline-success" ng-click="update();">保存</button> 
                        <button type="button" class="btn btn-outline-danger" ng-show="filterid" data-toggle="modal" data-target="#filterDelteConfirmWnd">删除</button>  
                    </div>
                    <div class="col-md-3 text-right">
                        <button type="button" class="btn btn-outline-success" ng-click="apply();"
                            id="applyFilter" data-toggle="popover" title="过滤器应用请求" data-content="服务器正在处理，请等待一段时间！">应用筛选</button>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-md">
                        <h4 class="float-left my-1 mx-2" ng-repeat="x in filterlist">
                            <span class="badge badge-secondary px-3" id="filter{{x.id}}" style="line-height: 25px; cursor: pointer;" ng-click="use(x.id);">{{x.value}}</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-7 border border-secondary rounded my-2 mr-1" style=" line-height: 25px;">
                <div class="row">
                    <div class="col-md mt-1 mx-1" style="height: 240px; overflow: auto">
                        <a ng-repeat="x in companylist" ng-mouseenter="select('company', x.code);" 
                            href="http://fund.eastmoney.com/Company/{{x.code}}.html" target="_blank" title="{{x.name}}" 
                            style="margin: 5px 3px 0px;">{{x.name|limitTo:6}}</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md mx-1" style="height: 360px; overflow: auto">
                        <a ng-repeat="x in foundlist" ng-mouseenter="select('found', x.code);" 
                            href="http://fund.eastmoney.com/{{x.code}}.html" target="_blank" title="{{x.fullname}}" 
                            style="margin: 5px 3px 0px;">{{x.fullname|limitTo:6}}</a>
                    </div>
                </div>
                <hr / >
                <div class="row">
                    <div class="col-md" ng-show="company">
                        <div class="float-left info">公司代码<span>{{company.code}}</span></div>
                        <div class="float-left info">公司名称<span>{{company.name}}</span></div>
                        <div class="float-left info">公司属性<span>{{company.attr}}</span></div>
                        <div class="float-left info">创建规模/日期<span>{{company.createMoney}}亿元/{{company.createDate|limitTo:10}}</span></div>
                        <div class="float-left info">基金数量<span>{{company.foundTotal}}</span></div>
                        <div class="float-left info">经理数量<span>{{company.managerTotal}}</span></div>
                    </div>
                    <div class="col-md" ng-show="found">
                        <div class="float-left info">基金代码<span>{{found.code}}</span></div>
                        <div class="float-left info">基金全称<span>{{found.fullname}}</span></div>
                        <div class="float-left info">类型<span>{{found.type}}</span></div>
                        <div class="float-left info">创建份额/日期<span>{{found.createShare}}/{{found.createDate|limitTo:10}}</span></div>
                        <div class="float-left info">资金规模/日期<span>{{found.moneyUpdate}}/{{found.moneyUpdateDate|limitTo:10}}</span></div>
                        <div class="float-left info">份额规模/日期<span>{{found.shareUpdate}}/{{found.shareUpdateDate|limitTo:10}}</span></div>
                        <div class="float-left info statistic">近一周(增长率)<span>{{found.lastWeek}}</span></div>
                        <div class="float-left info statistic">近一月(增长率)<span>{{found.lastMonth}}</span></div>
                        <div class="float-left info statistic">近一季度(增长率)<span>{{found.lastQuarter}}</span></div>
                        <div class="float-left info statistic">近半年(增长率)<span>{{found.lastHalfYear}}</span></div>
                        <div class="float-left info statistic">近一年(增长率)<span>{{found.last1Year}}</span></div>
                        <div class="float-left info statistic">近两年(增长率)<span>{{found.last2Year}}</span></div>
                        <div class="float-left info statistic">近三年(增长率)<span>{{found.last3Year}}</span></div>
                        <div class="float-left info statistic">自今年(增长率)<span>{{found.thisYear}}</span></div>
                        <div class="float-left info statistic">自创建(增长率)<span>{{found.fromCreate}}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 过滤器删除确认窗口 -->
        <div class="modal fade" id="filterDelteConfirmWnd" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">过滤器删除确认</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        确认要是删除该过滤器吗？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger px-3" data-dismiss="modal" ng-click="delete();">删除</button>
                        <button type="button" class="btn btn-secondary px-3" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>