.chipsel  { background-color: #cccccc; }
.modulesel { background-color: #cccccc; }

.header { text-align: center; color: #666666; }
.reg { display: inline; float: left; width: 100px; margin-left: 1px; margin-top: 5px; overflow: hidden;
    background-color: #cccccc; }
.reg>div { padding: 0px 3px; cursor: pointer; }
.regname { background-color: #CD5C5C; font-weight: bold; text-align: center; height: 30px; line-height: 30px; }
.bit { border-bottom: 1px dashed #ffffff; }
.bitValid { background-color: #20B2AA; }
.bitFocus { background-color: #CD853F; }
.bitSelect { color: #ff0000; }

#bitsInfo { display: none; position: absolute; top: 50px; left: 10px; width: 40%; min-height: 70px; 
    opacity: 0.8; z-index: 999; border-radius: 5px; background-color: #F5ECCE; }
#bitsInfo>span { color: #008080; font-style: italic; margin-left: 5px; }
