<form class="mt-3" ng-controller="editCtrl">
    <div class="form-group row">
        <label for="name" class="col-sm-1 col-form-label">名称</label>
        <div class="col-md">
            <input type="text" class="form-control" ng-model="detail.name" ng-disabled="!detail" placeholder="请输入文件名称" /> 
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-sm-1 col-form-label">描述</label>
        <div class="col-md">
            <textarea class="form-control" rows="6" ng-model="detail.desc" ng-disabled="!detail" placeholder="目录描述"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-md-auto col-form-label font-italic text-secondary">组用户权限</label>
        <div class="col-md-4 pt-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="groupRead" ng-model="groupRead" ng-disabled="!detail" ng-click="groupReadCheck();">
                <label class="form-check-label" for="groupRead">读取</label>
            </div>
        </div>
        <label for="colFormLabel" class="col-md-auto col-form-label font-italic text-secondary">其他用户权限</label>
        <div class="col-md-4 pt-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="otherRead" ng-model="otherRead" ng-disabled="!detail" ng-click="otherReadCheck();">
                <label class="form-check-label" for="otherRead">读取</label>
            </div>
        </div>
    </div>
    <div class="row" style="height: 460px;">
        <div class="col-md card card-body bg-light mx-2 mb-3">
            <div class="row" style="height:40px; line-height: 40px;">
                <div class="col mx-2 border-bottom" ng-show="detail">
                    {{detail.size/1024/1024|number:2}} MB, {{detail.createdAt|limitTo:10}}, {{detail.owner}}
                </div>
            </div>
            <div class="row" style="height:100px;">
                <div class="col mx-2 border-bottom taglist">
                    <h4 class="mx-1 mt-2 float-left" ng-repeat="x in detail.tagnames">
                        <span class="badge badge-secondary" style="line-height: 25px;">{{x}}</span>
                    </h4>
                </div>
            </div>
            <div class="row" style="height: 320px; overflow: hidden;">
                <div class="col mt-2">
                    <treecontrol class="tree-classic" options="treeOptions" tree-model="treeView" expanded-nodes="listExpand" selected-nodes="nodeSelected"
                        filter-expression="predicate" filter-comparator="comparator">
                        <span ng-class="{'privateResource': node.private}" title="{{node.desc}}">{{node.name}} /{{node.id}}</span>
                    </treecontrol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" ng-show="detail">
            <button type="button" class="btn btn-outline-success mx-1 px-3" ng-click="edit();">提交</button>
            <button type="button" class="btn btn-outline-danger mx-1 px-3" data-toggle="modal" data-target="#deleteConfirmWnd">删除</button>
        </div>
    </div>
    <!-- 文件删除确认 -->
    <div class="modal fade" id="deleteConfirmWnd" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">文件删除确认</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    确定要删除选中文件吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete();">删除</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</form>