<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,=">  <!-- 禁止加载facon.ico -->
    <title>file</title>

    <!-- 软件包导入(jquery放在anguarjs前， bootstrap放在jquery-ui前) -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/node_modules/angular/angular.min.js" type="text/javascript"></script>
    <!-- bootstrap -->
    <script src="/node_modules/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <link  href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- toastr(notify) -->
    <script src="/node_modules/toastr/build/toastr.min.js" type="text/javascript"></script>
    <link  href="/node_modules/toastr/build/toastr.min.css" rel="stylesheet" />
    <!-- font-awesome -->
    <link  href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- tree -->
    <link href="/node_modules/angular-tree-control/css/tree-control.css" rel="stylesheet">
    <script src="/node_modules/angular-tree-control/angular-tree-control.js" type="text/javascript"></script>
    <script src="/node_modules/angular-tree-control/context-menu.js" type="text/javascript"></script>
    <!-- magnific popup -->
    <script type="text/javascript" src="/node_modules/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <link href="/node_modules/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
    <!-- video.js -->
    <script type="text/javascript" src="/node_modules/video.js/dist/video.min.js"></script>
    <link href="/node_modules/video.js/dist/video-js.min.css" rel="stylesheet" />
    <!-- angularjs clipboard -->
    <script type="text/javascript" src="/node_modules/angular-clipboard/angular-clipboard.js"></script>
    <!-- 自定义 -->
    <script src="/view/js/library.js" type="text/javascript"></script>
    <link  href="/view/css/all.css" rel="stylesheet" />
    <script src="/file/view/js/index.js" type="text/javascript"></script>
    <style>
        .filesel { font-size: 18px; }
    </style>
</head>
<body ng-app="indexApp">

    <div ng-include="'/view/nav.html'"></div>
    <div id="wrapper" class="container-fluid" ng-controller="indexCtrl">
        <div class="row">
            <div class="col-md border border-success rounded my-2 mx-1">
                <div class="form-group row mt-3">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.name" placeholder="搜索文件名称，多个用空格分开" /> 
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.desc" placeholder="搜索文件描述，多个用空格分开" /> 
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.tag" placeholder="搜索关联标签， 多个用空格分开" /> 
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.ext" placeholder="搜索文件扩展名，多个用空格分开" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md">
                        <input type="text" class="form-control" id="createget" ng-model="opts.createget" placeholder="起始日期，比如 2019-02-13" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" id="createlet" ng-model="opts.createlet" placeholder="结束日期，比如 2019-11-05" /> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <select class="form-control" ng-model="opts.order">
                            <option value="4">创建时间-降序</option> 
                            <option value="3">创建时间-升序</option>
                            <option value="2">文件大小-降序</option>
                            <option value="1">文件大小-升序</option>                               
                        </select>
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" id="sizeget" ng-model="opts.sizeget" placeholder="文件大小最小值（MB）" />
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" id="sizelet" ng-model="opts.sizelet" placeholder="文件大小最大值（MB）" />
                    </div>
                </div>
                <div class="row mt-3" style="height: 460px;">
                    <div class="col-md card card-body bg-light mx-2 p-0">
                        <div class="row" style="height:100px;">
                            <div class="col mt-2 mx-1 taglist">
                                <h4 class="mr-2 float-left" style="cursor: pointer;" ng-repeat="x in detail.tagnames">
                                    <span class="badge badge-secondary" style="line-height: 25px;">{{x}}</span>
                                </h4>
                            </div>
                        </div>
                        <div class="row mx-1" style="height: 320px; overflow: hidden; border-top: 1px solid #cccccc;">
                            <div class="col mt-2">{{detail.desc}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 border border-secondary rounded my-2 mr-1">
                <div class="row">
                    <div class="col-md filelist" style="height: 780px; line-height: 30px;">
                        <div class="row mx-1" style="border-bottom: 1px dashed #000000;" ng-repeat="x in filelist" id="{{x.id}}" ng-mouseenter="focus(x);">
                            <div class="col-md" title="{{x.desc}}">
                                <a href="{{x.location}}" target="_blank">{{x.name|limitTo:200}}</a>
                                <a ng-if="x.media=='image'" class="image-link" href="{{x.location}}"><i class="fa fa-file-image-o ml-2"></i></a>
                                <i ng-if="x.media=='video'" style="cursor: pointer;" class="fa fa-file-video-o ml-2" ng-click="play(x.location);"></i>
                                <a href="#"><i clipboard class="fa fa-copy ml-2" text="copyText" on-copied="copySuccess()"></i></a>
                                <span class="ml-2" style="font-style: italic; color: #888888; font-size: 12px;">
                                    {{x.createdAt|limitTo:10}}, {{x.size/1024/1024|number:2 }} MB, {{x.owner}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <nav class="col-md">
                        <ul class="pagination justify-content-end">
                            <li ng-repeat="x in pages" 
                                ng-class="{'disabled': x.disable, 'active':x.active}" 
                                ng-click="opts.page=x.page"
                                class="page-item"><a class="page-link" href="#">{{x.name}}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- video.js -->
    <div id="video-box" style="display: none; position: fixed; bottom: 10px; right: 10px;"></div>

</body>
</html>
