/* 适用于所有页面的样式 */
html, body { margin: 0px; padding: 0px; font-size: 14px; }
a { text-decoration: none; font-style: italic; color: #000000; }
a:hover { color: #ff0000; }

/* 通用性的样式 */

/* 指定的样式 */
#wrapper>div>div { height: 820px; }